* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
    margin: 0;
    background-color: #e3e3e3;
}

nav {
    display: flex;
}

h2 {
    display: flex;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #5d5d5d;
    color: #c6c6c6;
}

header h1 {
    text-align: start;
    padding-left: 20px;
    font-size: 40px;
}

.nav-link a {
    color: #c6c6c6;
}

.nav-link a:hover {
    text-shadow: 2px 2px hsla(0, 0%, 20%, 0.611);
}

.contact-link a {
    color: #c6c6c6;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 500px;
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #c6c6c6;
}

.before-article {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: ; */
}

section img {
    margin-left: 30px;
}
.profile-picture {
    flex: 2;
    border-radius: 200px;
    max-width: 400px;
    max-height: 400px;
}

section h2 {
    flex: 5;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 40px;
    padding-right: 100px;
}

span {
    display: flex;
    flex-direction: row ;
}

.spacing-for-line {
    padding-top: 30px;
    padding-bottom: 30px;
}

.not-line {
    flex: 2;
    border: 2px solid #e3e3e3;
}

.the-line {
    flex: 5;
    border: 2px solid #5d5d5d;
}




main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

main aside {
    flex: 2;
    padding: 20px;
}

main aside h2 {
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 35px;
}

main section {
    flex: 5;
    align-items: center;
    font-size: 25px;
    padding-right: 30px;
    line-height: 1.5;
}

body div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

body div aside {
    flex: 2;
    padding: 20px;
}

body div aside h2 {
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 35px;
}

body div section {
    flex: 5;
    align-items: center;
    font-size: 25px;
    padding-right: 30px;
    line-height: 1.5;
}

.work {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
}

.card-big {
    flex: 4;
    font-size: 40px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
}

.card-big header {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.card header {
    text-align: center;
}

.card {
    flex: 1;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
}

footer {
    display: flex;
    position: relative;
    bottom: 0;
    width:100%;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    padding: 20px;
    background: #5d5d5d;
    color: #c6c6c6;
}

footer h2 {
    flex: 1;
    text-align: start;
    padding-left: 20px;
    font-size: 40px;
}

.footer-nav {
    justify-content: space-between;
}






