* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
    margin: 0;
    background-color: #5d5d5d; 
}

nav {
    display: flex;
}

h2 {
    display: flex;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #5d5d5d;
    color: #c6c6c6;
}

header h1 {
    text-align: start;
    padding-left: 20px;
    font-size: 40px;
}

.nav-link a {
    color: #c6c6c6;
}

.nav-link a:hover {
    text-shadow: 2px 2px hsla(0, 0%, 20%, 0.611);
}

.contact-link a {
    color: #c6c6c6;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 500px;
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #c6c6c6;
}

/* .background-image {
    display: flex;
    background-repeat: no-repeat;
    justify-content: flex-end;

} */


.before-article div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #5d5d5d;
    background-color: #e3e3e3; 
    background-image: url("https://images.unsplash.com/photo-1598653222000-6b7b7a552625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;
}



/* background-image: url("https://images.unsplash.com/photo-1598653222000-6b7b7a552625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");  */

section img {
    margin-left: 30px;
}
.profile-picture {
    flex: 2;
    border-radius: 200px;
    max-width: 400px;
    max-height: 400px;
}

section h2 {
    flex: 5;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 40px;
    padding-right: 100px;
    padding-left: 100px;
    color: #5d5d5d;
    text-shadow: rgb(255, 255, 255) 3px 0 20px;
    /* background-color: #cccccc; */
}

span {
    display: flex;
    background-color: #e3e3e3; 
    flex-direction: row ;
}

.spacing-for-line {
    padding-top: 30px;
    background-color: #e3e3e3; 
    padding-bottom: 30px;
}

.not-line {
    flex: 2;
    border: 2px solid #e3e3e3;
    background-color: #e3e3e3; 
}

.the-line {
    flex: 5;
    border: 2px solid #5d5d5d;
    background-color: #e3e3e3; 
}




main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #e3e3e3; 

}

main aside {
    flex: 2;
    padding: 20px;
    background-color: #e3e3e3; 
}

main aside h2 {
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 35px;
    color: #5d5d5d;
}

main section {
    flex: 5;
    align-items: center;
    font-size: 25px;
    padding-right: 30px;
    line-height: 1.5;
    color: #5d5d5d;
    background-color: #e3e3e3; 
}

body div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #e3e3e3; 

}

body div aside {
    flex: 2;
    padding: 20px;
    
}

body div aside h2 {
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 35px;
    color: #5d5d5d;
}

body div section {
    flex: 5;
    align-items: center;
    font-size: 25px;
    padding-right: 30px;
    line-height: 1.5;
}

.work {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

div header {
        display: flex;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background: #5d5d5d;
        color: #c6c6c6;
}

/* .card-big {
    flex: 1;
    font-size: 40px;
    border-style: solid;
    border-width: 1px;
    max-width: 700px;
    padding: 10px;
    margin: 20px;
} */

/* .card-big header {
    text-align: center;
    justify-content: center;
    padding: 20px;
} */

/* .card-group {
    flex: 1;
    font-size: 40px;
    border-style: solid;
    flex-wrap: wrap;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
} */

.card header {
    text-align: center;
    margin-bottom: 10px;
}

.smaller {
    font-size: 20px;
}

/* img {
    max-width: 70%;
} */

.card {
    display: flex;
    border-style: solid;
    border-width: 1px;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    padding: 10px;
    margin: 20px;
}

.card-image {
    margin: 0;
    align-items: center;
    justify-content: center;
    z-index: 0;
    max-width: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #5d5d5d;
    color: #c6c6c6;
}

footer h2 {
    flex: 1;
    text-align: start;
    padding-left: 20px;
    font-size: 40px;
}

footer nav ul li {
    padding: 20px;
    justify-content: flex-end;
}




@media screen and (max-width: 1504px) {
    .before-article div {
        background-image: none;
    }
} 

/* This was to fix some wonky spacing in the footer before the screen changed at 768px. */

@media screen and (max-width: 983px) {
    footer {
        flex-direction: column;
    }
}



/* Turns everything into columns */

@media screen and (max-width: 802px) {


    header{
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        padding-left: 0px;
        padding: 15px;
    }


    nav ul li {
        padding: 5px;
    }

    .before-article div {
        flex-direction: column;
        align-items: center;
    }

    footer nav {
        padding: 20px;
    }

    footer nav ul {
        padding: 5px;
    }
}